{% extends "base.html" %}
{% block title %}Ustdynow {{username}}{% endblock %}
{% block content %}

<div class="container">
{% if messages %}
<div class="row">
	<br/>
	{% for message in messages %}

		{%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
			<div class="alert alert-success alert-dismissable text-center" id="error_msg">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  			{{message }}
		 </div>
		{% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
			<div class="alert alert-danger alert-dismissable text-center" id="error_msg">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  			{{message }}
		 </div>
	{% endif %}
	{% endfor %}
</div>
<br/>
{% endif %}


<div class="row page-header">
  <div class="col-lg-12 text-center">
		<p class="lead">Welcome</p>
   </div>
</div>

<div class="page-header row">
	<div class="col-md-4">
		<a href="#" role="button" class="btn btn-success">Uplood Transaction</a>
	</div>
</div>
</div>
{% endblock %}
