{% extends "base.html" %}
{% block title %}Wasisi Kahawa About{% endblock %}
{% block content %}
<section id="about" class="section-idx">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="text-center">Networking and information sharing </h1>
      </div>
    </div>
  </div>
</section>
<section id="mission" class="section-idx">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4 class="text-center ustdy-header-two"><strong>Our Mission:</strong> An online platform to coffee farmers, buyers and researchers to network and access market information</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="text-center ustdy-header-two">
          We care about coffee and the wellbeing of the hardworking farmers and people who consume, trade, promote and research about it.
          We believe that access to market information will help farmers participate in decision making and profit sharing.
       </h3>
      </div>
    </div>
  </div>
</section>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% load static %}
            <div class="item active">
                <div  class="fill" >
                  <img src="{% static 'img/slideshow_green_coffee_1280_600.jpg' %}" alt="Nairobi Coffee Exchange">
                </div>
                <div class="carousel-caption">
                    <h2>Detailed transaction reports from the Nairobi Coffee Exchange</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill">
                  <img src="{% static 'img/slideshow_analytics_1280_600.jpg' %}" alt="Coffee glossary">
                </div>
                <div class="carousel-caption">
                    <h2>Analysis of Nairobi Coffee Exchange transactions</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill">
                  <img src="{% static 'img/slideshow_networking_1280_600.jpg' %}" alt="Los Angeles">
                </div>
                <div class="carousel-caption">
                    <h2>Networking platform</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill">
                  <img src="{% static 'img/slideshow_glossary_1280_600.jpg' %}" alt="Los Angeles">
                </div>
                <div class="carousel-caption">
                    <h2>A-Z glossary</h2>
                </div>
            </div>
<!-- <div class="item">
                <div class="fill">
                  <img src="{% static 'img/about/carousel_IV.jpg' %}" alt="Los Angeles">
                </div>
                <div class="carousel-caption">
                    <h2>Tutoring</h2>
                </div>
            </div>
        </div> -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<section id="how-to" class="section-idx">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4 class="text-center ustdy-header-two"><strong>How we do it</strong> </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h3 class="text-center ustdy-header-two"> We use artificial intelligence to collect, clean and store transaction reports from the Nairobi Coffee Exchange.</h3>
        <h3 class="text-center ustdy-header-two"> We analyse the transaction reports and provide and interface to query our database for customised charts and information.</h3>
        <h3 class="text-center ustdy-header-two"> We build and maintain a directory of coffee dealers, producers, marketers and regulators to help in traceability and networking.</h3>
      <h3 class="text-center ustdy-header-two"> We maintain a glossary of terms to help users navigate the coffee world in Kenya.</h3>
      </div>
    </div>
  </div>
</section>
<section id="history" class="section-idx">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4 class="text-center ustdy-header-two"><strong>Our Past & Future</strong> </h4>
      </div>
    </div>
    <div class="row">
       <div class="col-md-1 about-stack">
        <span class="fa-stack fa-2x img-hover">
            <i class="fa fa-circle fa-stack-2x text-primary" style="color:#660033;"></i>
            <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
         </span>
      </div>
      <div class="col-md-4 ">
          <h4>2013-Idea was conceived</h4>
          <p class="text-muted">Identified need for platform during masters thesis research.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-2 about-stack">
        <span class="fa-stack fa-2x img-hover">
            <i class="fa fa-circle fa-stack-2x text-primary" style="color:#660033;"></i>
            <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
         </span>
      </div>
      <div class="col-md-4 ">
        <h4>2014-Launched</h4>
        <p class="text-muted">We launched an experimental version using manual methods </p>
      </div>
    </div>
    <div class="row">
     <div class="col-md-1 about-stack">
      <span class="fa-stack fa-2x img-hover">
          <i class="fa fa-circle fa-stack-2x text-primary" style="color:#660033;"></i>
          <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
    </div>
     <div class="col-md-4 ">
        <h4>2017-Redevelopment </h4>
        <p class="text-muted">Automation of data harvesting and analysis</p>
      </div>
    </div>
    <div class="row">
     <div class="col-md-1 col-md-offset-2 about-stack">
      <span class="fa-stack fa-2x img-hover">
          <i class="fa fa-circle fa-stack-2x text-primary" style="color:#660033;"></i>
          <i class="fa fa-fighter-jet fa-stack-1x fa-inverse"></i>
       </span>
    </div>
    <div class="col-md-4 ">
        <h4>2018...</h4>
        <p class="text-muted">Launch of new platform and further improvements</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block extra_js %}
<script>
$('.carousel').carousel({
    interval: 1500 //changes the speed
})
</script>
{% endblock %}
