{% extends "base.html" %}
{% block title %}Ustudynow Contact{% endblock %}
{% block content %}
{% if messages %}
<div class="container-fluid">
<div class="row">
	<br/>
	{% for message in messages %}
			<div class="alert alert-danger alert-dismissable" id="error_msg">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  			{{message }}
		 </div>
	{% endfor %}
</div>
<br/>
</div>
{% endif %}
<div class="container-fluid" id="contact-row">
  <div class="row header-row">
   <div class="col-lg-12 text-center">
       <h2>Contact Us</h2>
   </div>
</div>
<div class="row" >
  <div class="col-md-8 col-md-offset-2">
     <form name="sentMessage" method="post" action="." id="contactForm">
			  {% csrf_token %}
        <div class="control-group form-group">
           <div class="controls">
             <label for="id_contact_name">Full Name<span style="color:red;">*</span></label>
               <input maxlength="{{max_length}}" type="text" class="form-control" name="contact_name" id="name" value="{{contact_name_used}}" required>
						{% if contact_name %}
							{% for error in contact_name %}
              	<p class="help-block" style="color:red;">{{error}}</p>
							{% endfor %}
						 {% endif %}
           </div>
         </div>

				 <div class="control-group form-group">
           <div class="controls">
             <label for="id_subject">Subject<span style="color:red;">*</span></label>
               <input maxlength="{{max_length}}" type="text" class="form-control" name="subject" id="name" value="{{subject_used}}" required>
							{% if jubject %}
								{% for error in jubject %}
                  <p class="help-block" style="color:red;">{{error}}</p>
								{% endfor %}
							{% endif %}
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
               <label for="id_contact_email">Email<span style="color:red;">*</span></label>
                 <input type="email" class="form-control" name="contact_email" value="{{contact_emal_used}}" id="id_contact_email" required>
									{% if contact_email %}
										{% for error in contact_email %}
                  	  <p class="help-block" style="color:red;">{{error}}</p>
										{% endfor %}
									{% endif %}
             </div>
           </div>
           <div class="control-group form-group">
             <div class="controls">
               <label for="id_content">Message<span style="color:red;">*</span></label>
                  <textarea rows="10" cols="100" class="form-control" name="content" id="id_content" required maxlength="999" style="resize:none">{{content_used}}</textarea>
										{% if content %}
											{% for error in content %}
                  			<p class="help-block" style="color:red;">{{error}}</p>
											{% endfor %}
										{% endif %}
              </div>
            </div>

            <div class="text-center">
              <button id="submit-btn" type="submit" class="btn btn-primary">Send</button>
            </div>
         </form>
       </div>
 </div><!-- /.row -->
</div>
{% endblock %}
{% load staticfiles %}
<!-- Bootstrap Core JavaScript -->
<script src="{% static "cssjsfonts/js/jqBootstrapValidation.js" %}"></script>
<script src="{% static "cssjsfonts/js/contact_me.js" %}"></script>
