<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{meta_description_content}}">
    <meta name="author" content="{{meta_author_content}}">
    <meta name="keywords" content="{{meta_keywords_content}}">
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}

        <!-- Bootstrap Core CSS -->
    <link href="{% static "cssjsfonts/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "cssjsfonts/css/modern-business.css" %}" rel="stylesheet">

    <!-- Foundation CSS -->
    <link href="{% static "cssjsfonts/css/foundation.css" %}" rel="stylesheet">
    <meta class="foundation-data-attribute-namespace">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-small">
    <meta class="foundation-mq-topbar">

    <!-- Custom Fonts -->
    <link href="{% static "cssjsfonts/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css"> 
    <link href="{% static "cssjsfonts/css/base.css" %}" rel="stylesheet" type="text/css">

    <script src="{% static "cssjsfonts/js/modernizr.js" %}"></script>

</head>

<body>
    
{% include 'nav.html' %}
 
 <!-- Add messaging framework globally to the project -->   
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">×</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

 <!-- Page Content -->    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

{% include 'footer.html' %}

<!--This is needed for AJAX functionality e.g. in follow user/coffee producer -->
<!--jquery already in static folder -->
<!--See page 157 about adding Cross-Site Request forgery  https://docs.djangoproject.com/en/1.8/ref/csrf/#ajax-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src=" http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
    <script>
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(document).ready(function(){
            {% block domready %}
            {% endblock %}
        });
    </script>

</body>
</html>