<nav class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header"><!-- Brand and toggle get grouped for better mobile display -->
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><strong  id="ustdy-logo"><span class="logo">Wasisi</strong></span></a>
      </div>
        {% if request.user.is_authenticated %} <!-- /.display site menu only to authenticated users -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="menu">
          <!-- We check the current section to add a selected class attribute to the corresponding <li> item in order to highlight the current section in the menu using CSS. -->
            <li {% if section == "about" %}class="selected"{% endif %}><a href="/about">About</a></li>
            <li {% if section == "producers" %}class="selected"{% endif %}><a href="/directory/producers">Producers</a></li>
            <li {% if section == "analytics" %}class="selected"{% endif %}><a href="#">Coffee Analytics</a></li>
            <li {% if section == "contact" %}class="selected" {% endif %}><a href="{% url "contact" %}">Contact</a></li>
            <li {% if section == "dashboard" %}class="selected"{% endif %}><a href="{% url "dashboard" %}">My dashboard</a></li>
        </ul>
        {% endif %}
        
        <span class="user">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }}, <a href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url "login" %}">Log-in</a>
        {% endif %}
        </span>
        </div><!-- /.navbar-collapse -->
    </div> <!-- /.container -->
    </div> <!-- /.header -->
</nav>